@using System.Data
@model  Dictionary<string,DataTable>
@{
    ViewBag.Title = "ProgressShow";
    Layout = "~/Views/Shared/_MainDesign.cshtml";
}

<form method="post" action="/Migrator/ProgressShow" id="Myform">
    <div class="modal-body">
        <div class="row">
            @foreach (string f in Model.Keys)
            {
                <div class="col-md-6">
                    @Html.Label(f, f, new { @class = "control-label" })
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group">
                    @Html.DropDownList("Hor", new SelectList(Model["Список Представлень:"].Rows.Cast<DataRow>().Select(o => o["TABLE_NAME"]).ToList()), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.DropDownList("Tor", new SelectList(Model["Список Таблиц:"].Rows.Cast<DataRow>().Select(o => o["TABLE_NAME"]).ToList()), new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        45%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="Out" class="btn btn-danger">Вихід</button>
        <button type="button" class="btn btn-default">Скачати звіт помилок програми</button>
        <button type="button" class="btn btn-default">Скачати звіт імпорту даних</button>
        <button type="submit" class="btn btn-primary">Почати</button>
    </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Myform').submit(function (event) {
                event.preventDefault();
                debugger;
                var sel1 = $("#Hor :selected").val();
                var sel2 = $("#Tor :selected").val();

                $.ajax({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                var progress = (100 * e.loaded / e.total);
                                $('.progress-bar').css('width', progress + '%').attr('aria-valuenow', progress).html(progress + '%');
                            }
                        });
                        return xhr;
                    },
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: { 'g': [sel1, sel2] },
                    dataType: "json",
                    beforeSend: function () {
                        $('.progress-bar').css('width', 0 + '%').attr('aria-valuenow', 0).html(0 + '%');
                    },
                    error: function (xhr)
                    {
                        alert(xhr.responseText);
                    },
                    success: function (response) {
                        alert(response);
                    }
                });
            });
            $('#Out').click(function () {
                $(location).attr('href', '@Url.Action("Out", "Migrator")');
            })
        });
    </script>

