
@{
    ViewBag.Title = "Enter";
    Layout = "~/Views/Shared/_MainDesign.cshtml";
}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong>Дані входу для БД Джерела</strong></h5>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label">Сервер:</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="ServerName1" />
                                    </div>
                                </div>
                                </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label">Назва БД:</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="BDName1" />
                                    </div>
                                </div>
                                </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label">Логін:</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="Login1" />
                                    </div>
                                </div>
                                </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label">Пароль:</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="Password1" />
                                    </div>
                                </div>
                                </div>
                    </div>
                    <div class="col-md-6">
                        <h5><strong>Дані входу для БД Одержувача</strong></h5>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label">Сервер:</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="ServerName2" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label">Назва БД:</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="BDName2" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label">Логін:</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="Login2" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label">Пароль:</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="Password2" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Войти</button>
            </div>