
@{
    ViewBag.Title = "ProgressShow";
    Layout = "~/Views/Shared/_MainDesign.cshtml";
}

<div class="modal-body">
    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            45%
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="Out" class="btn btn-danger">Вихід</button>
    <button type="button"  class="btn btn-default">Показати звіт</button>
    <button type="button" id="loadingbtn" data-loading-text="Зупинити" class="btn btn-primary">Почати</button>
</div>
 <script type="text/javascript">
     $(document).ready(function () {
         $('#loadingbtn').click(function () {
             debugger;
             var progress=0;
             $(this).button('loading');
             setTimeout(function () {
                 progress += 25;
                 $('#loadingbtn').button('reset');
                 $('.progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
             },2000);
             $('.progress-bar').css('width', progress + '%').attr('aria-valuenow',progress);

         });
         $('#Out').click(function () {
             window.location.href='@Url.Action("Out", "Authentication")';
         })
     });
 </script>

